.Tutorial-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0% 5%;
}

.Tutorial-column:first-child {
    width: 40%;
    margin-left: 5%;
}

.Tutorial-column:first-child p:first-child {
    font-size: 34px;
    font-weight: 600;
    opacity: 1;
}

.Tutorial-column:first-child p {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}

.Tutorial-column {
    width: 90%;
}

.Tutorial-gif {
    width: 100%;
    height: auto;

    border-radius: 20px 20px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
}

.navigateBtn {
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;

    font-size: 24px;
    font-weight: 600;

    color: white;
    background: linear-gradient(45deg, #6ba1ffe6, #0c32f0dc);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navigateBtn:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}