
.container {
    display: flex;
}
.left40 {
    width: 40%;
    border: 0px solid black;
    background-color: white;
    margin: 20px;
}
.right60 {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.right60 > div {
    flex: 1;
    border: 0px solid black;
    margin: 20px;
}

.left60 {
    width: 70%;
    border: 0px solid black;
    background-color: white;
    margin: 20px;
}
.right40 {
    width: 12%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.item {
    width: 33.3333%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #ccc;
    border-radius: 100px;
    background: #f5f7fb;
}

.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.divider {
    width: 100%;
    height: 1px;
    border: none;
    background-color: black;
    margin: 20px 0;
}