
.container {
    display: flex;
}
.left40 {
    width: 40%;
    border: 0px solid black;
    background-color: white;
    margin: 20px;
}
.right60 {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.right60 > div {
    flex: 1;
    border: 0px solid black;
    margin: 20px;
}

.left60 {
    width: 70%;
    border: 0px solid black;
    background-color: white;
    margin: 20px;
}
.right40 {
    width: 12%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid #ccc; /* Border 추가 */
    border-radius: 30px; /* 약간 둥글게 설정 */
}

.audio-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}